# C#
bin/
obj/
.vs/
.vscode/
.idea/
*.user
*.suo
Properties/
.dotnet/

# This project
Output/
Data/
Models/
tmp/
Extensions/
dlbackend/
*.debug

# Symbolic link overrides
/Models
/Output

# Python
__pycache__/
venv/
*.pth
