# C# and related tools
bin/
obj/
.vs/
.vscode/
.idea/
*.user
*.suo
Properties/
.dotnet/
.aspnet/
.local/

# So you can customize build if you need to
Directory.Build.props

# This project
/Output
/Data
/Models
tmp/
/src/Extensions
/dlbackend
*.debug
custom-launch-docker.sh
dotnet-install.sh
docker-compose.yml

# Python
__pycache__/
venv/
*.pth
