# C# and related tools
bin/
obj/
.vs/
.vscode/
.idea/
*.user
*.suo
Properties/
.dotnet/
.aspnet/
.local/

# This project
/Output
/Data
/Models
tmp/
/src/Extensions
/dlbackend
*.debug
custom-launch-docker.sh

# Python
__pycache__/
venv/
*.pth
