@page
@{
    var themeOverride = Request.Query["theme"].ToString();
    ViewData["theme_override"] = themeOverride;
}
@section Header {
    <link rel="stylesheet" href="css/genpage.css?vary=@Utilities.VaryID" />
    <link rel="stylesheet" href="css/themepreview.css?vary=@Utilities.VaryID" />
}
<script>
function reuseLastParamVal() {
    return null; // Prevent error in browser console
}

function generateInputs() {
    const container = getRequiredElementById('input_group_content_coreparameters');
    container.innerHTML = 
        makeNumberInput(null, 'input_images', 'images', 'Images', '', 1, 1, 10000, 1, 'big', false, true)
        + makeNumberInput(null, 'input_seed', 'seed', 'Seed', '', -1, -1, 9223372036854776000, 1, 'seed', false, true)
        + makeSliderInput(null, 'input_steps', 'steps', 'Steps', '', 20, 0, 500, 0, 100, 1, false, false, true)
        + makeSliderInput(null, 'input_cfgscale', 'cfgscale', 'CFG Scale', '', 7, 0, 100, 0, 20, 0.5, false, false, true);
    autoNumberWidth(document.getElementById('input_images'));
    enableSliderAbove(document.getElementById('input_steps'));
    enableSliderAbove(document.getElementById('input_cfgscale'));
}

document.addEventListener('DOMContentLoaded', function() {
    makeGenericPopover('input_images', 'Images', 'Integer', 'How many images to generate at once.', ["1", "4"])
    makeGenericPopover('input_seed', 'Seed', 'Integer', 'Image seed.\n-1 = random.\nDifferent seeds produce different results for the same prompt.', ["1", "2", "...", "10"])
    makeGenericPopover('input_steps', 'Steps', 'Integer', 'Diffusion works by running a model repeatedly to slowly build and then refine an image.\nThis parameter is how many times to run the model.\nMore steps = better quality, but more time.\n20 is a good baseline for speed, 40 is good for maximizing quality.\nSome models, such as Turbo models, are intended for low step counts like 4 or 8.\nYou can go much higher, but it quickly becomes pointless above 70 or so.\nNote that steps is a core parameter used for defining diffusion schedules and other advanced internals,\nand merely running the model over top of an existing image is not the same as increasing the steps.\nNote that the number of steps actually ran can be influenced by other parameters such as Init Image Creativity when applied.', ["10", "15", "20", "30", "40"])
    makeGenericPopover('input_cfgscale', 'CFG Scale', 'Decimal', 'How strongly to scale prompt input.\nHigher CFG scales tend to produce more contrast, and lower CFG scales produce less contrast.\nToo-high values can cause corrupted/burnt images, too-low can cause nonsensical images.\n7 is a good baseline. Normal usages vary between 4 and 9.\nSome model types, such as Flux, Hunyuan Video, or any Turbo model, expect CFG to be set to 1.', ["5", "6", "7", "8", "9"])
    generateInputs();
});
</script>
<div class="theme_preview-content">
    <div class="theme_preview-item" id="theme_preview_coreparameters">
        <div class="input-group input-group-open" id="auto-group-coreparameters">
            <div class="input-group-content" id="input_group_content_coreparameters"></div>
        </div>
    </div>

    <hr>

    <div class="theme_preview-item">
        <div class="alt-prompt-buttons-wrapper">
            <button class="alt-prompt-buttons alt-prompt-generate-button basic-button translate" id="alt_generate_button">Generate</button>
            <button class="alt-prompt-buttons alt-prompt-center-button basic-button" id="alt_center_button">&#x2B9F;</button>
            <button class="alt-prompt-buttons interrupt-button interrupt-button-none alt-interrupt" id="alt_interrupt_button">&times;</button>
        </div>
    </div>
</div>

@section Scripts {
    <script src="js/genpage/helpers/ui_improvements.js?vary=@Utilities.VaryID"></script>
}
