[*]
charset = utf-8

[*.{cs,csx}]
indent_size = 4
insert_final_newline = true

csharp_prefer_braces = true:warning

csharp_style_var_for_built_in_types = false:warning
csharp_style_var_when_type_is_apparent = false:warning
csharp_style_var_elsewhere = false:warning
