:root {
    --background: #11111b;
    --background-soft: #1e1e2e;
    --background-gray: #1e1e2e;
    --background-panel: #181825;
    --background-panel-subtle: #1e1e2e;

    --emphasis: #fab387;
    --emphasis-soft: color-mix(in srgb, #fab387 80%, #11111b 20%);
    --emphasis-text: var(--button-text);

    --border-color: #45475a;
    --light-border: #45475a;

    --popup-front: #dce0e8;

    --text: #cdd6f4;
    --text-soft: color-mix(in srgb, var(--text) 80%, var(--background) 20%);

    --button-text: #dce0e8;
    --button-foreground-hover: #1e1e2e;
    --button-foreground-disabled: #585b70;
    --button-background: #585b70;
    --button-background-disabled: #313244;

    --danger-button-border: #45475a;
    --danger-button-foreground-hover: #dce0e8;
    --danger-button-foreground: #cdd6f4;
    --danger-button-background-hover: color-mix(in srgb, #f38ba8 60%, #11111b);
    --danger-button-background: color-mix(in srgb, #f38ba8 80%, #11111b);

    --range-track-color: #313244 !important;
    --range-thumb-color: #6c7086 !important;

    --toggle-thumb-active: color-mix(in srgb, var(--emphasis) 25%, #585b70);

    --star: #f9e2af !important;

    --red: #f38ba8;
    --green: #a6e3a1;

    /* Custom variables */
    --background-image: url('../../imgs/ctp_background.png');
}

a:not(.p-menubar-item-link,.sui_popover_model_button), code {
    color: #fab387;
}

input[type="checkbox"] {
    accent-color: #fab387;
}

input[type="text"]:focus, textarea:focus {
    outline: solid 1px #fab387 !important;
    border-color: #fab387;
}

.card {
    --bs-card-bg: #1e1e2e;
    color: #cdd6f4;
}

.border-secondary {
    border-color: #313244;
}

.auto-slider-toggle-content {
    background: #cdd6f4 !important;
}

.auto-slider-toggle-content::after {
    background: #585b70  !important;
}

.form-check-input {
    --bs-form-check-bg: #cdd6f4 !important;
}

.preset-remove-button, .card.border-danger {
    border-color: #f38ba8 !important;
}

.preset-remove-button:hover {
    background-color: color-mix(in srgb, #f38ba8 70%, #11111b) !important;
}

.basic-button:disabled {
    background-color: color-mix(in srgb, var(--button-background) 40%, #f38ba880) !important;
}

.btn-primary {
    color: #1e1e2e !important;
}

#alt_generate_button:hover, #alt_center_button:hover {
    color: var(--button-foreground-hover) !important;
}

.model-block-menu-button:hover, .sui_popover_model_button:hover {
    color: #1e1e2e;
}

.model-block img:hover {
    border-color: #fab387 !important;
}

.backend-running, .border-success {
    border-color: #a6e3a1 !important;
}

.toast {
    --bs-toast-bg: #45475a;
    --bs-toast-header-bg: #313244;
    --bs-toast-header-color: #cdd6f4;
}

.toast-error-box {
    border-color: #f38ba8 !important;
}
