:root {
    --background: #dce0e8;
    --background-soft: #eff1f5;
    --background-gray: #eff1f5;
    --background-panel: #e6e9ef;
    --background-panel-subtle: #eff1f5;

    --emphasis: #fe640b;
    --emphasis-soft: color-mix(in srgb, #fe640b 80%, #dce0e8 20%);
    --emphasis-text: var(--button-text);

    --border-color: #bcc0cc;
    --light-border: #bcc0cc;

    --popup-front: #11111b;

    --text: #4c4f69;
    --text-soft: color-mix(in srgb, var(--text) 80%, var(--background) 20%);

    --button-text: #11111b;
    --button-foreground-hover: #eff1f5;
    --button-foreground-disabled: #acb0be;
    --button-background: #acb0be;
    --button-background-disabled: #ccd0da;

    --danger-button-border: #bcc0cc;
    --danger-button-foreground-hover: #11111b;
    --danger-button-foreground: #4c4f69;
    --danger-button-background-hover: color-mix(in srgb, #d20f39 60%, #dce0e8);
    --danger-button-background: color-mix(in srgb, #d20f39 80%, #dce0e8);

    --range-track-color: #ccd0da !important;
    --range-thumb-color: #9ca0b0 !important;

    --toggle-thumb-active: color-mix(in srgb, var(--emphasis) 25%, #acb0be);

    --star: #df8e1d !important;

    --red: #d20f39;
    --green: #40a02b;

    /* Custom variables */
    --background-image: url('../../imgs/ctp_background.png');

    --text-input-focus-outline: solid 1px #fe640b;
    --text-input-focus-border-color: #fe640b;

    --checkbox-accent-color: #fe640b;

    --slider-toggle-background: #4c4f69;

    --link-code-color: #fe640b;

    --model-img-hover-border-color: #fe640b;

    --secondary-border-color: #ccd0da;

    --toast-bg-color: #bcc0cc;
    --toast-header-bg-color: #ccd0da;
}
