:root {
    --background: #181926;
    --background-soft: #24273a;
    --background-gray: #24273a;
    --background-panel: #1e2030;
    --background-panel-subtle: #24273a;

    --emphasis: #f5a97f;
    --emphasis-soft: color-mix(in srgb, #f5a97f 80%, #181926 20%);
    --emphasis-text: var(--button-text);

    --border-color: #494d64;
    --light-border: #494d64;

    --popup-front: #dce0e8;

    --text: #cad3f5;
    --text-soft: color-mix(in srgb, var(--text) 80%, var(--background) 20%);

    --button-text: #dce0e8;
    --button-foreground-hover: #24273a;
    --button-foreground-disabled: #5b6078;
    --button-background: #5b6078;
    --button-background-disabled: #363a4f;

    --danger-button-border: #494d64;
    --danger-button-foreground-hover: #dce0e8;
    --danger-button-foreground: #cad3f5;
    --danger-button-background-hover: color-mix(in srgb, #ed8796 60%, #181926);
    --danger-button-background: color-mix(in srgb, #ed8796 80%, #181926);

    --range-track-color: #363a4f !important;
    --range-thumb-color: #6e738d !important;

    --toggle-thumb-active: color-mix(in srgb, var(--emphasis) 25%, #5b6078);

    --star: #eed49f !important;

    --red: #ed8796;
    --green: #a6da95;

    /* Custom variables */
    --background-image: url('../../imgs/ctp_background.png');

    --text-input-focus-outline: solid 1px #f5a97f;
    --text-input-focus-border-color: #f5a97f;

    --checkbox-accent-color: #f5a97f;

    --slider-toggle-background: #cad3f5;

    --link-code-color: #f5a97f;

    --model-img-hover-border-color: #f5a97f;

    --secondary-border-color: #363a4f;

    --toast-bg-color: #494d64;
    --toast-header-bg-color: #363a4f;
}
