.headline {
    text-align: center;
}
.section_wrapper {
    margin: auto;
    width: calc(min(90vw, 50rem));
    border: 1px solid var(--light-border);
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 1rem;
}
.section_buttons {
    text-align: right;
}
.install_hint {
    opacity: 0.8;
    font-style: italic;
}
.install_q_head {
    font-size: 1.6rem;
    font-weight: bold;
    border-bottom: 1px solid var(--light-border);
    margin-bottom: 0.5rem;
}
.form-check {
    margin-bottom: 0.5rem;
    cursor: pointer;
}
.theme_preview {
    max-height: 44rem;
    overflow-y: auto;
}
.theme_preview .form-check {
    display: inline-block;
    width: 49%;
    height: 22rem;
    border: 1px solid var(--light-border);
    border-radius: 0.5rem;
    padding-left: 0;
    position: relative;
}
.theme_preview .form-check:has(.form-check-input:checked) {
    border: 1px solid var(--emphasis);
}
.theme_preview label {
    margin-top: 0.125rem;
    margin-left: 0.5rem;
    cursor: pointer;
}
.theme_preview .form-check-input {
    margin-left: 0.5rem;
    margin-top: 0.5rem;
}
.form-check .form-check-iframe {
    width: 100%;
    height: calc(100% - 2rem);
    border-bottom-left-radius: calc(0.5rem - 1px);
    border-bottom-right-radius: calc(0.5rem - 1px);
    position: absolute;
    bottom: 0;
    left: 0;
    pointer-events: none;
}
label {
    font-size: 120%;
    vertical-align: top;
    margin-top: -0.3rem;
}
.final_confirm_info {
    font-weight: bold;
}
.install_output {
    white-space: pre-wrap;
    border: 1px solid var(--light-border);
    border-radius: 0.5rem;
    padding: 0.5rem;
    width: 100%;
    min-height: 2rem;
}
.license {
    white-space: pre-wrap;
    border: 1px solid var(--light-border);
    border-radius: 0.5rem;
    padding: 0.5rem;
    width: 100%;
    font-size: 80%;
}
.install_progress_bar {
    width: 0%;
    display: block;
    height: 5px;
    background-color: #00ff00;
    position: relative;
    left: 0;
    top: 0;
}
.install_progress_step_bar {
    width: 0%;
    display: block;
    height: 5px;
    background-color: var(--emphasis);
    position: relative;
    left: 0;
    top: 5px;
}
.installer-click-radio {
    border-radius: 1rem;
    padding: 0.5rem;
    border: 1px solid var(--light-border);
    cursor: pointer;
}
.installer-click-radio:hover {
    background-color: var(--light-border);
}
.installer-click-radio > input {
    display: none;
}
